<!DOCTYPE html>
<html>
  <head>
    <title>CriptoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <p>Layout administrativo</p>
    </header>

    <%= yield %>
    
    <footer>
        <p>Layout administrativo</p>
    </footer>
  </body>
</html>
